<div class="game-container">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
    </div>
    <div class="tile-container">
        <div
            class="tile tile-{{ tile.value }} tile-position-2-2 tile-new"
            *ngFor="let tile of gs.tiles"
            [ngClass]="{
                'tile-new': !tile.isMerged,
                'tile-merged': tile.isMerged
            }"
            [ngStyle]="getTileStyle(tile)"
        >
            {{ tile.value }}
        </div>
    </div>
    <div class="overlay" *ngIf="gs.theEnd">
        <span>Game Over</span>
        <button (click)="gs.initNewGame()">Try again</button>
    </div>
</div>
